/*doc
---
title: List View
name: list_view
category: Components
---

The same `.list-view` component is used across messages, file, and contact lists. The component provides places for up
to four columns of content, usually `|meta-content|main-content with description|more meta|right-arrow`. It also accommodates
a 'swipe to delete' action.

```html_example
<div class="list-view">
  <div class="list-item">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item unread">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item swiped">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="list-item-swipe-content">
      <i class="fa fa-trash-o"></i>
    </div>
  </div>

  <div class="list-item">
    <div class="list-item-thumb">
      <i class="list-item-thumb file-type fa fa-file-image-o"></i>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">filename.jpg</div>
      <div class="list-item-description">file size and date created</div>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item">
    <div class="list-item-thumb">
      <div class="avatar"></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">User's First and Last Name</div>
      <div class="list-item-description">username</div>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

</div>
```

*/

$list-item-height: 70px;

ul {
  padding: 0;
  margin: $margin-small 0 0;
  list-style: none;

  &.flex-list {
    > li {
      @extend .flex-col;
      @extend .flex-align-start;

      min-height: 48px;
      height: auto;
      padding: $padding-small $padding-base;

      label {
        margin-bottom: #{$margin-small/2};
      }
    }

    > .list-item {
      border-bottom: $border-dark;
    }
  }

  ul li {
    font-size: 14px;
    height: 48px;
    padding: 0;
  }
}

li {
  @extend .flex-row;
  @extend .flex-align-center;

  box-sizing: border-box;

  font-size: 16px;
  min-height: 48px;
  padding: 0 $padding-base;

  //with avatar,icon, checkbox,etc text should start at 72px from the left
  // TODO add styles for multi line list items

  .checkbox-input,
  .avatar {
    &:first-child {
      margin-right: 32px;
    }
  }

  .headline {
    padding: 0;
  }

  .checkbox-input:last-child {
    margin-left: 16px;
  }

  i {
    margin-right: #{$margin-base * 2};
    text-align: center;
    width: 24px;

    &:last-child {
      margin: 0 0 0 auto;
    }
  }
}

.list-view {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  transform: translate3d(0, 0, 0);

  .list-item {
    border-bottom: $border-dark;
    max-height: $list-item-height;
    min-height: $list-item-height;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: transform $speed-normal ease-out, background-color 100ms ease-in;

    &.unread {
      background-color: $white;
      border-left: 5px solid color(p-green);

      .list-item-swipe-wrapper {
        margin-left: -5px;
      }
    }

    &.swiped {
      transform: translateX(-50px);
    }

    &.on-touchstart {
     // background-color: darken(color(list-item-bg), 5%);
    }

    .list-item-content {
      flex-grow: 1;
      overflow: hidden;

      .list-item-title {
        @extend .flex-row;
        @extend .flex-align-center;

        font-size: .95rem;
        font-weight: 600;
      }

      .list-item-sup {
        font-size: .6rem;
        font-weight: 400;
        opacity: 1;
        text-transform: uppercase;
      }

      .list-item-description {
        @include ellipses();

        font-size: .8rem;
        font-weight: 400;
        opacity: .6;
      }

      &.text-right {
        align-self: center;
        min-width: 50px;
      }
    }

    .list-item-thumb {
      box-sizing: content-box;
      min-width: 24px;
      padding-right: $padding-base;
      flex: 0 0 auto;
      text-align: center;
      align-self: center;
    }

    .list-item-forward {
      align-self: center;
      flex: 0 0 20px;
      text-align: center;

    }

    .list-item-swipe-content {
      position: absolute;
      top: 0;
      left: 100%;
      background-color: color(list-item-delete-bg);
      width: 50px;
      z-index: -1;
      height: 100%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      overflow: hidden;

      > i:only-child {
        color: $white-100;
        margin: 0 auto;
      }
    }

    .download {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: $list-item-height;
      background-color: rgba(255, 255, 255, .9);
      color: color(p-blue-dark-15);
    }
  }
}

.list-item-swipe-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.file-type.fa {
  width: 29px;
  text-align: center;
  font-size: 24px;
  margin-right: $margin-base;
  opacity: .8;
}

.nested-list {
  list-style: none;
  margin: 0;
  padding-left: 0;


  .list-item {
    border-bottom: $border-light;
    padding: 0 0 .2em;

    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
}

//animation when deleting a conversations from list view.
.list-item.swiped.list-item-animation-leave {
  animation-name: slideDelete;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  .list-item-swipe-content {
    transition: width $speed-normal ease-out;
    width: 100%;
  }
}

.list-item-title.selectable {
  margin-left: #{$margin-base * 3.5};
}

.list-item.select-all {
  flex-direction: row;

  ~ .list-item {
    border-top: $border-dark;
    padding-top: $padding-small;
  }
}

.vscroll .loader-item {
  min-height: 70px;
  padding-top: 25px;
  text-align: center;

  .fa-spin {
    color: #278fda;
    margin: auto;
  }
}

.vscroll,
.vscroll > * {
  transform: translate3d(0, 0, 0);
}
