/**
 * Topmost navigation bar with menu toggle, search input, etc
 */
// navbar container
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $navbar-height;
  color: white;
  background-color: color(p-blue-darker);
  font-size: $navbar-font-size;
  z-index: $z-navbar;

  i {
    color: $white-100;
  }

  .logo{
    @extend .flex-col;
    @extend .flex-justify-center;
    @extend .flex-align-center;

    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto 0 0;
    padding: 0;

    .peerio-logo{
      width:22px;
      height:22px;
    }
  }
}

#sidemenu-toggle, #app-lock, #global-back {
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;

  i.fa {
    margin: 0;
  }
}

// spacer to make the right cell go to the right
.spacer {
    position: relative;
    width: auto;
    display: table-cell;
}
