// TODO: refactor add and attach buttons - paul
$recipients-height: 40px;

#new-message {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .attached-files {
    position: initial;
    border-top: 0;
  }

  .recipients {
    display: flex;
    min-height: $recipients-height;
    align-items: center;
    padding-right: 0;
    // max-height: 96px;
    // overflow: hidden;

    .names {
      flex-grow: 1;
      // max-height: 96px;
      // overflow: hidden;
      // overflow-y: scroll;
    }
  }

  .add-btn,
  .attach-btn {
    min-width: 48px;
    min-height: $recipients-height;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .name-selected {
    font-size: 12px;
    background-color: color(p-blue-light-10);
    color: $white-100;
    border-radius: 12px;
    padding: 2px 4px 2px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    word-break: break-all;
    max-width: 164px;

    i {
      margin-left: 4px;
      font-size: 20px;
      color: $white-70;
    }
  }

  .subject-input {
    border-bottom: $border-dark;
    border-top: $border-dark;
  }

  .recipient-input{
    min-height: 0 !important;
    height: 0;
    overflow: hidden;

    &.open{
      min-height: 40px !important;
    }
  }


  .subject-input,
  .recipient-input {
    display: flex;
    min-height: $recipients-height;

    input {
      border: 0;
    }

    .awesomplete {
        width: 100%;
        position: static !important;
    }

    #email {
        background: none;
        height: 40px;
    }
  }

  .to {
    min-width: 30px;
    text-align: center;
  }

  .subject {
    -webkit-appearance: none; // removes weird inner shadow on ios
    background: transparent;
    border: 0;
    height: 40px;
    padding: 0 $padding-small;
    text-overflow: ellipsis;

    &:focus {
      background: transparent;
      border: 0;
    }
  }

  .message {
    resize: none;
    top: 80px;
    bottom: 0;
    padding: $padding-small;
    border: 0;
    flex-grow: 1;
    background: rgba(0,0,0,0);
  }
}

.icon-counter {
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: $radius-circle;
  background-color: $white-100;
  text-align: center;
  line-height: 16px;
  position: absolute;
  bottom: 4px;
  right: 4px;

  &.none {
    background-color: transparent;
    transition: $speed-slow;
  }
}
