// Awesomplete

div.awesomplete > ul {
  background: $white-100;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin: 6px 0 0;

  &:before {
    border: 0;
    padding: 0;
  }
}
