/*doc
---
title: Sidebar
name: sidebar
category: Components
---

The sidebar is a view with a dark background and white text that has an `.open` and closed state.
Most elements inside the sidebar are base styles, and are not styled inside the `.sidebar` component.

Click the sidebar in the example to toggle the `.open` state.

```html_example
<div style="height:150px;">
<div class="sidebar open" onClick="$(this).toggleClass('open');">
  <div class="sidebar-header">
    <span class="headline">Headline in sidebar</span>
  </div>
  <span class="subhead">subhead in sidebar</span>
  <span class="icon-with-label flex-col-1">
    <i class="fa fa-pencil circle"></i>
    <span class="icon-label">Icons in sidebar</span>
  </span>
</div>
<div id="sidebar-dimmer" class="open"></div>
</div>
```

*/
.sidebar {
  position: absolute;
  z-index: $z-sidebar;
  transition: transform $speed-normal cubic-bezier(.25, .8, .25, 1);
  transform: translate3d(-101%, 0, 0);
  width: calc(100% - 56px);
  top: $navbar-height;
  bottom: 0;
  background-color: color(sidebar-bg-color);
  color: $white-100;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  // What is this about? max-height? Why max-height? - paul
  // TODO find out who did this and figure out why. - paul
  // moved outside of sidebar-header so I didn't have to make more than one of these abominations. - paul
  @media screen and (max-height: 480px){
    .sidebar-header {
      margin: 0 auto;
      text-align: left;

      .avatar {
        float: left;
        margin-right: 10px;
      }
    }

    li {
      min-height: 32px;
      font-size: 12px;
    }
  }


  .sidebar-header {
    @extend .flex-justify-center;

    background: $black-38;
    margin: 0;
    padding: $padding-small 0;

    .info-label {
      text-transform: capitalize;
      color: $white-70;
      font-weight: 300;
    }

    .headline-md,
    .subhead-inline {
      @extend .text-overflow;
    }

    .storage-info {
      @extend .flex-col;
      @extend .flex-align-start;
      @extend .flex-justify-center;

      font-size: 14px;
      margin-left: 58px;
    }
  }

  .app-version {
    margin-bottom: $margin-small;
    padding: 0 $padding-base;
    position: static;
  }

  .avatar.big {
    flex-shrink: 0;
    margin-right: $margin-base;
    ;
  }

  &.open {
    transform: translate3d(0, 0, 0);
    transition-duration: $speed-normal;
  }

  .sidebar-menu {
    i {
      color: $white-100;
    }
  }

  ul {

    &:not(:last-of-type) {
      border-bottom: $border-light;
    }
  }

  a {
    @extend .flex-row;

    color: currentColor;
  }

  .sign-out {
    margin: 0 $margin-small;
  }
}
// dark semi-transulent div under sidemenu
// it dims the content part that is not covered by sidemenu
#sidebar-dimmer {
  @extend .dim-background;

  top: $navbar-height;
  // hiding it with left position because this way we will have an opacity transition on showing
  // and fast hide on sidebar closing
  left: -150%;
  width: 100%; // needed so that left positioning works as expected.
  transition: none;
  opacity: 0;
  z-index: #{$z-sidebar - 1};

  &.open {
    left: 0;
    transition: opacity $speed-fast ease;
    opacity: 1;
  }
}
